<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>miny00.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{44,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>miny01.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{44,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>miny02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{44,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>miny03.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{44,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>miny04.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{44,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>miny05.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{44,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>miny06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{44,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>many.png</string>
            <key>size</key>
            <string>{324,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5745371b0fb8d7de8ee0a485a86038e:32f767d8cdcfb36dfa08e325bf6ee75a:e8545fb88d7ce35afe0dac30e1c3e3bd$</string>
            <key>textureFileName</key>
            <string>many.png</string>
        </dict>
    </dict>
</plist>
