<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>miny00.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{49,51}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{49,51}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>miny01.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{49,51}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{49,51}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>miny02.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{49,51}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{49,51}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>miny03.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{49,51}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{49,51}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>miny04.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{49,51}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{49,51}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>miny05.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{49,51}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{49,51}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>miny06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,51}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{49,51}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>miny.png</string>
            <key>size</key>
            <string>{359,55}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35e236e48f716a47f2c0043eee310618:15086d0b237c1b9a35c234b4f5bf263a:6c10d6340652bbdef05cff688b4acfde$</string>
            <key>textureFileName</key>
            <string>miny.png</string>
        </dict>
    </dict>
</plist>
