<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mony00.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,300},{147,153}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{147,153}}</string>
                <key>sourceSize</key>
                <string>{177,177}</string>
            </dict>
            <key>mony01.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,157},{147,153}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{147,153}}</string>
                <key>sourceSize</key>
                <string>{177,177}</string>
            </dict>
            <key>mony02.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,151},{147,153}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{147,153}}</string>
                <key>sourceSize</key>
                <string>{177,177}</string>
            </dict>
            <key>mony03.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{147,153}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{147,153}}</string>
                <key>sourceSize</key>
                <string>{177,177}</string>
            </dict>
            <key>mony04.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{147,153}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{147,153}}</string>
                <key>sourceSize</key>
                <string>{177,177}</string>
            </dict>
            <key>mony05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{147,153}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{147,153}}</string>
                <key>sourceSize</key>
                <string>{177,177}</string>
            </dict>
            <key>mony06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,153}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{147,153}}</string>
                <key>sourceSize</key>
                <string>{177,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mony.png</string>
            <key>size</key>
            <string>{455,449}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48810c6a2834ab3a72db6da06ac52701:81435853e3accdfbf3306579b4bcedd6:5e097cd46de39ed7fcfefc9078bedb7e$</string>
            <key>textureFileName</key>
            <string>mony.png</string>
        </dict>
    </dict>
</plist>
